<div class="fade-in-left min-h-screen h-full mt-8">
  <% Projects::CONTACT.each do |contact| %>
    <div class="rounded-md bg-white shadow-sm border p-2 my-3 w-full lg:w-3/4 mx-auto">
      <div class="grid grid-cols-4">
        <div class="col-span-1 text-blue-500 bg-gray-50 py-6 rounded">
          <i class="fa-2x <%= contact[:icon] %>"></i>
        </div>
        <div class="col-span-3 text-gray-500 text-sm md:text-lg flex items-center justify-center font-bold">
          <% if contact[:link] %>
            <%= link_to contact[:value], contact[:link] %>
          <% elsif contact[:email] %>
            <%= mail_to contact[:value], contact[:email] %>
          <% else %>
            <%= contact[:value] %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>